<nav>
  <ul>
    <li>
      <%= render(TimeRanges::LinkComponent.new(time_range: @week.month)) do %>
        <%= render(Months::LongNameComponent.new(month: @week.month)) %>
      <% end %>
    </li>
  </ul>
</nav>

<h1>
  <%= render(Weeks::LongNameComponent.new(week: @week)) %>
</h1>

<nav>
  <ul>
    <li>
      <%= render(TimeRanges::LinkComponent.new(time_range: @week.prev)) do %>
        <%= render(Weeks::LongNameComponent.new(week: @week.prev)) %>
      <% end %>
    </li>
    <li>
      <%= render(TimeRanges::LinkComponent.new(time_range: @week.next)) do %>
        <%= render(Weeks::LongNameComponent.new(week: @week.next)) %>
      <% end %>
    </li>
  </ul>
</nav>

<p>
  <%= render(Events::NewLinkComponent.new(time_range: @week)) do %>
    New Event
  <% end %>
</p>

<ul>
  <% @week.days.each do |day| %>
    <li>
      <%= render(TimeRanges::LinkComponent.new(time_range: day)) do %>
        <%= day.value.to_s %>
      <% end %>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% day.events.each do |event| %>
            <tr>
              <td>
                <%= render(Events::LinkComponent.new(
                  event: event,
                  time_range: @week
                )) do %>
                  <%= event.title %>
                <% end %>
              </td>
              <td><%= event.starts_at %></td>
              <td><%= event.ends_at %></td>
              <td>
                <%= render(Events::EditLinkComponent.new(
                  event: event,
                  time_range: @week
                )) do %>
                  Edit
                <% end %>
              </td>
              <td>
                <%= render(Events::DestroyComponent.new(
                  event: event,
                  time_range: @week
                )) do %>
                  Destroy
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </li>
  <% end %>
</ul>
