<header class="p-6 bg-yellow-400 flex flex-wrap items-center text-sm">
  <nav class="w-full mb-3">
    <ul class="flex text-xl leading-none">
      <li>
        <%= render(TimeRanges::LinkComponent.new(
          time_range: @week.year,
          class: "hover:text-yellow-700 inline-block"
        )) do %>
          <%= @week.year.value %>
        <% end %>
      </li>
    </ul>
  </nav>

  <h1 class="text-4xl leading-none font-medium mr-auto">
    Week <%= @week.value %>
  </h1>

  <%= render(TimeRanges::NavigationComponent.new(time_range: @week)) %>

  <div class="ml-2 pl-2 border-yellow-500 border-solid border-l">
    <%= render(Events::NewLinkComponent.new(
      time_range: @week,
      class: "p-2 rounded-full bg-green-600 text-white inline-flex leading-none items-center"
    )) do %>
      <span class="inline-flex bg-green-700 rounded-full mr-2 h-6 w-6 items-center justify-center text-lg">
        +
      </span>
      <span class="h-6 inline-flex items-center pr-3">
        New Event
      </span>
    <% end %>
  </div>

  <div class="ml-2 pl-2 border-yellow-500 border-solid border-l">
    <%= link_to(
      sign_out_path,
      method: :delete,
      class: "p-2 rounded-full bg-gray-800 text-white inline-flex leading-none items-center"
    ) do %>
      <span class="h-6 inline-flex items-center px-3">
        Sign out
      </span>
    <% end %>
  <div>
</header>

<main class="p-6">
  <section
    class="grid"
    style="
      grid-template-columns: 4rem repeat(7, 1fr);
      grid-template-rows: auto auto 1fr;
    "
  >
    <div
      class="
        row-start-3
        col-start-1
        p-2
      "
    >
      <%= render(Days::TimeMeasureComponent.new) %>
    </div>

    <% @week.days_by_month.each do |month, days| %>
      <h2
        class="
          row-start-1
          col-start-<%= days.first.starts_at.cwday + 1 %>
          p-2
          text-lg
          font-bold
        "
      >
        <%= render(TimeRanges::LinkComponent.new(
          time_range: month
        )) do %>
          <%= render(Months::NameComponent.new(month: month)) %>
        <% end %>
      </h2>
      <% days.each do |day| %>
        <h3
          class="
            sticky
            top-0
            z-20
            row-start-2
            col-start-<%= day.starts_at.cwday + 1 %>
            p-2
            bg-white
          "
        >
          <%= render(TimeRanges::LinkComponent.new(
            time_range: day,
          )) do %>
            <%= day.value.to_s %> <%= day.starts_at.strftime("%a") %>
          <% end %>
        </h3>

        <section
          class="
            row-start-3
            col-start-<%= day.starts_at.cwday + 1 %>
            z-10
            p-2
          "
        >
          <%= render(Days::TimeLineComponent.new(day: day)) %>
        </section>
      <% end %>
    <% end %>
  </section>
<main>
