<%= render(TimeRanges::HeaderComponent.new(time_range: @week)) %>

<main class="p-3 md:p-6">
  <section
    class="grid"
    style="
      grid-template-columns: auto repeat(7, 1fr);
      grid-template-rows: auto auto 1fr;
    "
  >
    <div
      class="
        row-start-3
        col-start-1
        col-span-1
        pr-2
      "
    >
      <%= render(Days::TimeMeasureComponent.new) %>
    </div>
    <div
      class="
        row-start-3
        col-start-2
        col-span-7
      "
    >
      <%= render(Days::TimeMeasureComponent.new(
        display_numbers: false
      )) %>
    </div>

    <% @week.days_by_month.each do |month, days| %>
      <h2
        class="
          row-start-1
          col-start-<%= days.first.starts_at.cwday + 1 %>
          col-span-<%= days.count %>
          p-3
          font-bold
          border-solid
          border-gray-200
          border-l
          border-b
        "
      >
        <%= render(TimeRanges::LinkComponent.new(
          time_range: month
        )) do %>
          <%= render(Months::NameComponent.new(month: month)) %>
        <% end %>
      </h2>
      <% days.each do |day| %>
        <h3
          class="
            sticky
            top-0
            z-20
            row-start-2
            col-start-<%= day.starts_at.cwday + 1 %>
            p-2
            bg-white
            text-center
            border-solid
            border-gray-200
            border-l
            text-xs
          "
        >
          <%= render(TimeRanges::LinkComponent.new(
            time_range: day,
          )) do %>
            <span class="block mb-1">
              <%= day.starts_at.strftime("%a").first(2) %>
            </span>
            <span class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-gray-300">
              <%= day.value.to_s %>
            </span>
          <% end %>
        </h3>

        <section
          class="
            row-start-3
            col-start-<%= day.starts_at.cwday + 1 %>
            z-10
            px-1
            border-solid
            border-gray-200
            border-l
          "
        >
          <%= render(Days::TimeLineComponent.new(day: day)) %>
        </section>
      <% end %>
    <% end %>
  </section>
<main>
