<%= render(TimeRanges::HeaderComponent.new(time_range: @month)) %>

<main class="p-4 md:p-6">
  <ul>
    <% @month.days_by_week.each do |week, days| %>
      <li>
        <%= render(TimeRanges::LinkComponent.new(time_range: week)) do %>
          <%= render(Weeks::LongNameComponent.new(week: week)) %>
        <% end %>
        <ul>
          <% days.each do |day| %>
            <li>
              <%= render(TimeRanges::LinkComponent.new(time_range: day)) do %>
                <%= day.value.to_s %>
              <% end %>

              <%= day.event_count %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</main>
