<nav>
  <ul>
    <li>
      <%= link_to @month.year.value, year_path(@month.year) %>
    </li>
  </ul>
</nav>

<h1>
  <%= render(Months::LongNameComponent.new(month: @month)) %>
</h1>

<nav>
  <ul>
    <li>
      <%= render(Months::LinkComponent.new(month: @month.prev)) do %>
        <%= render(Months::LongNameComponent.new(month: @month.prev)) %>
      <% end %>
    </li>
    <li>
      <%= render(Months::LinkComponent.new(month: @month.next)) do %>
        <%= render(Months::LongNameComponent.new(month: @month.next)) %>
      <% end %>
    </li>
  </ul>
</nav>

<p>
  <%= link_to 'New Event', new_event_path(starts_at: @month.starts_at) %>
</p>

<ul>
  <% @month.weeks.each do |week| %>
    <li>
      <%= render(Weeks::LinkComponent.new(week: week)) do %>
        <%= render(Weeks::LongNameComponent.new(week: week)) %>
      <% end %>
    </li>
    <ul>
      <% week.days.each do |day| %>
        <li>
          <%= link_to day.value, year_month_day_path(day.year, day.month, day) %>

          <%= day.event_count %>
        </li>
      <% end %>
    </ul>
  <% end %>
</ul>
