<nav>
  <ul>
    <li>
      <%= link_to @month.year.value, year_path(@month.year) %>
    </li>
  </ul>
</nav>

<h1>
  <%= @month.starts_at.strftime("%B, %Y") %>
</h1>

<nav>
  <ul>
    <li>
      <%= link_to @month.prev.starts_at.strftime("%B, %Y"), year_month_path(@month.prev.year, @month.prev) %>
    </li>
    <li>
      <%= link_to @month.next.starts_at.strftime("%B, %Y"), year_month_path(@month.next.year, @month.next) %>
    </li>
  </ul>
</nav>

<p>
  <%= link_to 'New Event', new_event_path(starts_at: @month.starts_at) %>
</p>

<ul>
  <% @month.weeks.each do |week| %>
    <li>
      <%= link_to "Week #{week.value}, #{week.year.value}" , year_week_path(week.year, week) %>
    </li>
    <ul>
      <% week.days.each do |day| %>
        <li>
          <%= link_to day.value, year_month_day_path(day.year, day.month, day) %>

          <%= day.event_count %>
        </li>
      <% end %>
    </ul>
  <% end %>
</ul>
