<nav>
  <ul>
    <li>
      <%= link_to @month.year.value, year_path(@month.year) %>
    </li>
  </ul>
</nav>

<h1>
  <%= render(Months::LongNameComponent.new(month: @month)) %>
</h1>

<nav>
  <ul>
    <li>
      <%= render(TimeRanges::LinkComponent.new(time_range: @month.prev)) do %>
        <%= render(Months::LongNameComponent.new(month: @month.prev)) %>
      <% end %>
    </li>
    <li>
      <%= render(TimeRanges::LinkComponent.new(time_range: @month.next)) do %>
        <%= render(Months::LongNameComponent.new(month: @month.next)) %>
      <% end %>
    </li>
    <li>
      <%= link_to time_range_path("month") do %>
        This month
      <% end %>
    </li>
  </ul>
</nav>

<p>
  <%= render(Events::NewLinkComponent.new(time_range: @month)) do %>
    New Event
  <% end %>
</p>

<ul>
  <% @month.weeks.each do |week| %>
    <li>
      <%= render(TimeRanges::LinkComponent.new(time_range: week)) do %>
        <%= render(Weeks::LongNameComponent.new(week: week)) %>
      <% end %>
    </li>
    <ul>
      <% week.days.each do |day| %>
        <li>
          <%= render(TimeRanges::LinkComponent.new(time_range: day)) do %>
            <%= day.value.to_s %>
          <% end %>

          <%= day.event_count %>
        </li>
      <% end %>
    </ul>
  <% end %>
</ul>
