<header class="p-4 md:p-6 bg-yellow-400 flex flex-wrap items-center relative">
  <div class="p-4 md:p-6 absolute right-0 top-0">
    <%= link_to(
      sign_out_path,
      method: :delete,
      class: "block p-2 leading-none hover:text-yellow-700 text-sm sm:text-base"
    ) do %>
      Sign out
    <% end %>
  </div>

  <nav class="w-full mr-24">
    <ul class="flex flex-wrap leading-none sm:text-lg" style="min-height: 2.25rem">
      <% containing_ranges.each do |containing_range| %>
        <li class="mr-3">
          <%= render(TimeRanges::LinkComponent.new(
            time_range: containing_range,
            class: "hover:text-yellow-700 inline-block py-2"
          )) do %>
            <%= containing_range_name(containing_range) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

  <h1 class="text-2xl sm:text-4xl leading-none font-medium py-2 mr-auto">
    <%= display_name %>
  </h1>

  <%= render(TimeRanges::NavigationComponent.new(time_range: time_range)) %>

  <div class="p-4 fixed bottom-0 right-0 z-30">
    <%= render(Events::NewLinkComponent.new(
      time_range: time_range,
      class: "block p-5 rounded-full bg-green-600 text-white leading-none hover:bg-green-800 text-lg"
    )) do %>
      <span class="text-xl mr-2">+</span> New Event
    <% end %>
  </div>
</header>
