<nav>
  <ul class="flex">
    <li class="mr-2">
      <%= link_to(
        prev_range_path,
        class: "block p-3 rounded-full bg-yellow-500 leading-none hover:bg-yellow-700 text-sm sm:text-base"
      ) do %>
        <span class="inline-flex w-4 h-4 items-center justify-center">
          &larr;
        </span>
        <span class="hidden sm:inline-block">
          <%= prev_range_display_name %>
        </span>
      <% end %>
    </li>

    <li class="mr-2">
      <%= link_to(
        next_range_path,
        class: "block p-3 rounded-full bg-yellow-500 leading-none hover:bg-yellow-700 text-sm sm:text-base"
      ) do %>
        <span class="hidden sm:inline-block">
          <%= next_range_display_name %>
        </span>
        <span class="inline-flex w-4 h-4 items-center justify-center">
          &rarr;
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to(
        current_range_path,
        class: "block p-3 rounded-full bg-yellow-500 leading-none hover:bg-yellow-700 text-sm sm:text-base"
      ) do %>
        <%= current_range_display_name %>
      <% end %>
    </li>
  </ul>
</nav>
