<div
  class="
    grid
    col-start-<%= col_start %>
    row-start-<%= row_start %>
  "
  style="
    grid-template-rows: repeat(24, calc(100% / 24));
  "
>
  <% 24.times do |n| %>
    <div
      style="grid-row: <%= n + 1 %>"
      class="text-xs text-gray-500 pr-2"
    >
      <%= (beginning_of_day + n.hours).strftime("%H")  %>
    </div>
  <% end %>
</div>

<div
  class="
    grid
    col-start-<%= col_start %>
    col-span-<%= col_span %>
    row-start-<%= row_start %>
  "
  style="
    grid-template-rows: repeat(24, calc(100% / 24));
  "
>
  <% 24.times do |n| %>
    <div
      style="grid-row: <%= n + 1 %>"
      class="border-solid border-gray-200 border-t first:border-0"
    >
    </div>
  <% end %>
</div>
