<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<%= render(Events::EditLinkComponent.new(event: @event, time_range: @time_range)) do %>
  Edit
<% end %> |
<%= render(TimeRanges::LinkComponent.new(time_range: @time_range)) do %>
  Done
<% end %>
