<main
  class="grid min-h-screen"
  style="grid-template-rows: auto auto 1fr"
>
  <header class="p-3 md:px-6 bg-gray-800 text-white flex flex-wrap items-center">
    <%= link_to(
      settings_path,
      class: "block leading-tight hover:text-yellow-700 text-sm sm:text-base ml-auto"
    ) do %>
      Settings
    <% end %>
    <%= link_to(
      sign_out_path,
      method: :delete,
      class: "block leading-tight hover:text-yellow-700 text-sm sm:text-base ml-3"
    ) do %>
      Sign out
    <% end %>
  </header>

  <header class="p-3 md:p-6 bg-yellow-400 flex flex-wrap items-center">
    <%= render(TimeRanges::HeaderComponent.new(time_range: @day)) %>
  </header>

  <section
    class="grid p-3 md:p-6"
    style="grid-template-columns: auto 1fr; "
  >
    <%= render(Days::TimeMeasureComponent.new) %>

    <div class="col-start-2 row-start-1">
      <%= render(Days::TimeLineComponent.new(day: @day)) %>
    </div>
  </section>
</main>
