<nav>
  <ul>
    <li>
      <%= render(TimeRanges::LinkComponent.new(time_range: @day.month)) do %>
        <%= render(Months::NameComponent.new(month: @day.month)) %>
      <% end %>
    </li>
    <li>
      <%= render(TimeRanges::LinkComponent.new(time_range: @day.week)) do %>
        <%= render(Weeks::LongNameComponent.new(week: @day.week)) %>
      <% end %>
    </li>
  </ul>
</nav>

<h1>
  <%= @day.starts_at.to_s %>
</h1>

<nav>
  <ul>
    <li>
      <%= render(TimeRanges::LinkComponent.new(time_range: @day.prev)) do %>
        <%= @day.prev.starts_at.to_s %>
      <% end %>
    </li>
    <li>
      <%= render(TimeRanges::LinkComponent.new(time_range: @day.next)) do %>
        <%= @day.next.starts_at.to_s %>
      <% end %>
    </li>
    <li>
      <%= link_to time_range_path("day") do %>
        Today
      <% end %>
    </li>
  </ul>
</nav>

<p>
  <%= render(Events::NewLinkComponent.new(time_range: @day)) do %>
    New Event
  <% end %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @day.events.each do |event| %>
      <tr>
        <td>
          <%= render(Events::LinkComponent.new(
            event: event,
            time_range: @day
          )) do %>
            <%= event.title %>
          <% end %>
        </td>
        <td><%= event.starts_at %></td>
        <td><%= event.ends_at %></td>
        <td>
          <%= render(Events::EditLinkComponent.new(
            event: event,
            time_range: @day
          )) do %>
            Edit
          <% end %>
        </td>
        <td>
          <%= render(Events::DestroyComponent.new(
            event: event,
            time_range: @day
          )) do %>
            Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
