<h1>
  <%= link_to @day.year.value, year_path(@day.year) %>
  /
  <%= link_to @day.month.value, year_month_path(@day.year, @day.month) %>
  /
  <%= @day.value %>
</h1>

<h2>
  <%= link_to "Week #{@day.week.value}", year_week_path(@day.year, @day.week) %>
</h2>

<ul>
  <% @day.week.days.each do |week_day| %>
    <li>
      <%= link_to week_day.value, year_month_day_path(
        week_day.year,
        week_day.month,
        week_day
      ) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "#{@day.prev.year.value} / #{@day.prev.month.value} / #{@day.prev.value}", year_month_day_path(@day.prev.year, @day.prev.month, @day.prev) %>
  <%= link_to "#{@day.next.year.value} / #{@day.next.month.value} / #{@day.next.value}", year_month_day_path(@day.next.year, @day.next.month, @day.next) %>
</p>

<p>
  <%= link_to 'New Event', new_event_path(starts_at: @day.starts_at) %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Starts at</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @day.events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.starts_at %></td>
        <td><%= event.duration %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
