<header class="p-6 bg-yellow-400 flex items-center flex-wrap">
  <nav class="w-full mb-3">
    <ul class="flex text-xl leading-none">
      <li>
        <%= render(TimeRanges::LinkComponent.new(
          time_range: @day.month,
          class: "hover:text-yellow-700 inline-block"
        )) do %>
          <%= @day.month.starts_at.strftime("%B, %Y") %>
        <% end %>
        /
      </li>
      <li class="ml-2">
        <%= render(TimeRanges::LinkComponent.new(
          time_range: @day.week,
          class: "hover:text-yellow-700 inline-block"
        )) do %>
          Week <%= @day.week.value %>, <%= @day.week.year.value %>
        <% end %>
      </li>
    </ul>
  </nav>

  <h1 class="text-4xl leading-none font-medium mr-auto">
    <%= @day.starts_at.strftime("%A, %-d") %>
  </h1>

  <%= render(TimeRanges::NavigationComponent.new(time_range: @day)) %>

  <div class="ml-2 pl-2 border-yellow-500 border-solid border-l">
    <%= render(Events::NewLinkComponent.new(
      time_range: @day,
      class: "p-2 rounded-full bg-green-600 text-white inline-flex leading-none items-center"
    )) do %>
      <span class="inline-flex bg-green-700 rounded-full mr-2 h-6 w-6 items-center justify-center text-lg">
        +
      </span>
      <span class="h-6 inline-flex items-center pr-3">
        New Event
      </span>
    <% end %>
  <div>
</header>

<main class="p-6 min-h-full">
  <ul class="min-h-full relative" style="height: 49rem">
    <li class="absolute w-full h-full">
      <% 48.times do |n| %>
        <hr class="border-gray-200 odd:border-gray-300 border-sold border-b-1  absolute w-full" style="top: <%= n.to_f / 48 * 100 %>%" />
      <%end %>
    </li>
    <% @day.events.each do |event| %>
      <li
        style="
          top: <%= (
           (event.starts_at.hour * 60 + event.starts_at.min).to_f / (24 * 60)
          ) * 100 %>%;
          min-height: <%= (
            ((event.ends_at.hour * 60 + event.ends_at.min) -
            (event.starts_at.hour * 60 + event.starts_at.min)).to_f / (24 * 60)
          ) * 100 %>%"
        class="bg-gray-400 p-2 absolute w-full leading-tight"
      >
        <%= render(Events::LinkComponent.new(
          event: event,
          time_range: @day,
        )) do %>
          <%= event.title %>
        <% end %>
      </li>
    <% end %>
  </tbody>
</table>
