<%= form_with(
  model: event,
  url: path,
  action: action,
  local: true
) do |form| %>
  <% if event.errors.any? %>
    <div>
      <h2>
        <%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:
      </h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label class="block">
    <span class="block mb-2">
      Title
    </span>
    <input
      type="text"
      name="event[title]"
      value="<%= @event.title %>"
      class="block w-full border-solid border-gray-400 border p-2 rounded"
    />
  </label>

  <div class="block mt-3">
    <span class="block mb-2 w-full">
      Start
    </span>

    <div class="flex">
      <input name="event[starts_at][date]" type="date" value="<%= event.starts_at.to_date %>" class="block w-full border-solid border-gray-400 border p-2 rounded mr-2" />
      <input name="event[starts_at][time]" type="time" value="<%= event.starts_at.strftime("%H:%M") %>" class="block w-full border-solid border-gray-400 border p-2 rounded" />
    </div>
  </div>

  <div class="block mt-3">
    <span class="block mb-2 w-full">
      End
    </span>

    <div class="flex">
      <input name="event[ends_at][date]" type="date" value="<%= event.ends_at.to_date %>" class="block w-full border-solid border-gray-400 border p-2 rounded mr-2" />
      <input  name="event[ends_at][time]" type="time" value="<%= event.ends_at.strftime("%H:%M") %>" class="block w-full border-solid border-gray-400 border p-2 rounded" />
    </div>
  </div>

  <div class="flex mt-4">
    <button
      type="submit"
      class="p-4 rounded-full bg-green-600 text-white leading-none"
    >
      <%= if event.persisted? then "Update event" else "Create event" end %>
    </button>

    <%= render(TimeRanges::LinkComponent.new(
      time_range: @time_range,
      class: "p-4 rounded-full bg-gray-700 text-white ml-auto"
    )) do %>
      Cancel
    <% end %>
  </div>
<% end %>
