<h1>
  <%= @year.value %>
</h1>

<ul>
  <li>
    <%= link_to @year.prev.value, year_path(@year.prev) %>
  </li>
  <li>
    <%= link_to @year.next.value, year_path(@year.next) %>
  </li>
  <li>
    <%= link_to time_range_path("year") do %>
      This year
    <% end %>
  </li>
</ul>

<p>
  <%= render(Events::NewLinkComponent.new(time_range: @year)) do %>
    New Event
  <% end %>
</p>

<ul>
  <% @year.months.each do |month| %>
    <li>
      <%= render(TimeRanges::LinkComponent.new(time_range: month)) do %>
        <%= render(Months::NameComponent.new(month: month)) %>
      <% end %>

      <ul>
        <% month.weeks.each do |week| %>
          <li>
            <%= render(TimeRanges::LinkComponent.new(time_range: week)) do %>
              <%= render(Weeks::LongNameComponent.new(week: week)) %>
            <% end %>
          </li>
          <ul>
            <% week.days.each do |day| %>
              <li>
                <%= render(TimeRanges::LinkComponent.new(time_range: day)) do %>
                  <%= day.value.to_s %>
                <% end %>

                <%= day.event_count %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
