<h1>
  <%= @year.value %>
</h1>

<ul>
  <li>
    <%= link_to @year.prev.value, year_path(@year.prev) %>
  </li>
  <li>
    <%= link_to @year.next.value, year_path(@year.next) %>
  </li>
</ul>

<p>
  <%= link_to 'New Event', new_event_path(starts_at: @year.starts_at) %>
</p>

<ul>
  <% @year.months.each do |month| %>
    <li>
      <%= render(Months::LinkComponent.new(month: month)) do %>
        <%= render(Months::NameComponent.new(month: month)) %>
      <% end %>

      <ul>
        <% month.weeks.each do |week| %>
          <li>
            <%= render(Weeks::LinkComponent.new(week: week)) do %>
              <%= render(Weeks::LongNameComponent.new(week: week)) %>
            <% end %>
          </li>
          <ul>
            <% week.days.each do |day| %>
              <li>
                <%= link_to day.value, year_month_day_path(day.year, day.month, day) %>

                <%= day.event_count %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

