<main>
  <header class="p-3 md:px-6 bg-gray-800 text-white flex flex-wrap items-center">
    <%= link_to(
      settings_path,
      class: "block leading-tight hover:text-yellow-700 text-sm sm:text-base ml-auto"
    ) do %>
      Settings
    <% end %>
    <%= link_to(
      sign_out_path,
      method: :delete,
      class: "block leading-tight hover:text-yellow-700 text-sm sm:text-base ml-3"
    ) do %>
      Sign out
    <% end %>
  </header>

  <header class="p-3 md:p-6 bg-yellow-400 flex flex-wrap items-center">
    <%= render(TimeRanges::HeaderComponent.new(time_range: @year)) %>
  </header>

  <section class="p-3 md:p-6 flex flex-wrap">
    <% @year.months.each do |month| %>
      <div
        class="grid pr-2 pb-2 w-1/2 sm:w-1/3 md:w-1/4"
        style="
          flex-basis: auto;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: auto repeat(<%= month.days_by_week.count %>, 1fr)
        "
      >
        <%= render(TimeRanges::LinkComponent.new(
          time_range: month,
          class: "row-start-1 col-span-7 text-lg font-bold py-1 #{if month.current? then "text-red-600" end}"
        )) do %>
          <%= month.starts_at.strftime("%B") %>
        <% end %>

        <% month.days_by_week.each_with_index do |(_week, days), index| %>
          <% days.each do |day| %>
            <%= render(TimeRanges::LinkComponent.new(
              time_range: day,
              class: "row-start-#{index + 2} col-start-#{day.week_day} text-xs sm:p-1 #{if day.current? then "text-red-600 font-bold" end} #{if day.event_count > 0 then "font-bold" end}"
            )) do %>
              <%= day.value.to_s %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </section>
</main>
