<!DOCTYPE html>
<html class="min-h-full">
  <head>
    <title>Whenever</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col h-full">
    <%= yield %>
  </body>
</html>
